body {
    padding-top: 60px;
}

li p.first {
    line-height: 20px;
}

li p {
    line-height: 26px;
}

div.article {
    padding-top: 20px;
}

div.article h2 {
    padding-bottom: 10px;
}

div.highlight pre {
    background-color: #fefbf3;
    margin: 0 0 10px;
}

.well.small {
    padding: 6px 6px 4px;
}

.btn.xsmall {
    padding: 1px 3px 1px;
    font-size: 11px;
}

/* responsive video element */
.embed-video {
    margin-top: 2em;
    margin-bottom: 2em;
}

.embed-video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-video iframe,
.embed-video object,
.embed-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.summary * {
    display: inline;
}

.summary pre {
    display: none;
}

.social a[href*='atom.xml']:before {
    content: url('./images/icons/rss.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='bitbucket.org']:before {
    content: url('./images/icons/bitbucket.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='delicious.com']:before {
    content: url('./images/icons/delicious.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='digg.com']:before {
    content: url('./images/icons/digg.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='facebook.com']:before {
    content: url('./images/icons/facebook.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='github.com']:before {
    content: url('./images/icons/github.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='google.com/reader']:before {
    content: url('./images/icons/reader.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='linkedin.com']:before {
    content: url('./images/icons/linkedin.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='rss.xml']:before {
    content: url('./images/icons/rss.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='stackoverflow.com']:before {
    content: url('./images/icons/stackoverflow.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.social a[href*='twitter.com']:before {
    content: url('./images/icons/twitter.png');
    margin-right: 2px;
    vertical-align: -3px;
}

.tag-cloud {
    text-align: justify;
}

.tag-cloud li {
    display: inline;
    margin: 0.8em;
    line-height: 1.5em;
}

.tag-4 {
    font-size: 1.0em;
}

.tag-3 {
    font-size: 1.2em;
}

.tag-2 {
    font-size: 1.4em;
}

.tag-1 {
    font-size: 1.6em;
}

.page-header {
    margin: 20px 0 0
}

body {
    font-size: 1.2em;
    line-height: 1.6em;
}

.article li {
    line-height: 1.6em;
}

.well,
.nav-header {
    font-size: 0.8em;
}

.navbar .nav,
.navbar-text {
    padding-top: 5px;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

.small {
    font-size: 0.8em;
}

.tags {
    font-size: 0.8em;
}

a {
    color: rgb(23, 135, 190);
}

footer,
.about {
    font-size: 0.9em;
}

.pagination {
    text-align: center;
}

.align-center,
.centered {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.search {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 43px;
}


/* fix up nav on mobile */

@media (max-width: 767px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 979px) {
    /* remove extra top space at small sizes */
    .navbar-fixed-top {
        position: absolute;
    }
}

.docutils.literal {
    font-size: 18px;
}

.search .gsc-control-cse {
    padding: 0;
}

.search .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 2px;
}

.thumbnail {
    margin: 2em 1em;
}